{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "airbnb-base/legacy", "prettier"],
  "plugins": ["babel", "import", "jsx-a11y"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },

  "rules": {
    "no-unused-vars": "warn",
    "prefer-const": ["error", {
      "destructuring": "all",
      "ignoreReadBeforeAssign": true
    }],
    "linebreak-style": "off",
    "vars-on-top": "off",

    "arrow-parens": "off",
    "object-curly-newline": "off",
    "no-mixed-operators": "off",
    "function-paren-newline": "off",
    "no-plusplus": "off",
    "space-before-function-paren": 0,
    "eol-last": "off",
    "comma-dangle": 0,
    "trailing-comma": 1,


    "quotes": ["error", "single"],
    "no-underscore-dangle": "off",

    "max-len": ["error", 250, 2, { "ignoreUrls": true }],
    "no-console": 0,
    "no-alert": "error",

    "no-param-reassign": "off",
    "radix": "off",
    "prefer-destructuring": "off",
    "jsx-quotes": ["error", "prefer-single"],

    "jsx-a11y/anchor-is-valid": ["error", { "components": ["Link"], "specialLink": ["to"] }],
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "every": ["id"]
        }
      }
    ]
  }
}
