.chart-wrapper{
  background: $primary-color-light;
  flex: 0 0 auto;
  margin: 10px;
  @include border;
  @include shadow;
  @include flex(column);

}
.chart--container {
  height: auto;
  width: 100%;
}

.chart--info{
  display: block;
  height: 30px;
  width: 100%;
}

.zc-ref {
  display: none;
}