$red-i1: #FFACAE;
$red-i2:#FF6064;
$red-i3:#9F3C3E;
$red-i4:#FF0007;
$red-i5:#790003;
$green-i1:#ABFECA;
$green-i2:#5FFE9A;
$green-i3:#00FA5D;
$green-i4:#3B9C5F;
$green-i5:#00772C;
$black-i1:#B7B7B7;
$black-i2:#757575;
$black-i3:#484848;
$black-i4:#232323;
$black-i5:#111111;
$primary-color: #a9c7ea;
$primary-color-light: #C2D9F4;
$second-color: #000;
:export {
  colorRed: #FFACAE;
  redI2:#FF6064;
  redI3:#9F3C3E;
  redI4:#FF0007;
  redI5:#790003;
  greenI1:#ABFECA;
  greenI2:#5FFE9A;
  greenI3:#00FA5D;
  greenI4:#3B9C5F;
  greenI5:#00772C;
  blackI1:#B7B7B7;
  blackI2:#757575;
  blackI3:#484848;
  blackI4:#232323;
  blackI5:#111111;
}
