$red-i1: #FFACAE;
$red-i2:#FF6064;
$red-i3:#9F3C3E;
$red-i4:#FF0007;
$red-i5:#790003;
$green-i1:#ABFECA;
$green-i2:#5FFE9A;
$green-i3:#00FA5D;
$green-i4:#3B9C5F;
$green-i5:#00772C;
$black-i1:#B7B7B7;
$black-i2:#757575;
$black-i3:#484848;
$black-i4:#232323;
$black-i5:#111111;
