@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@mixin clearfix() {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin border {
    border: 0.2rem solid #09294e;
    border-radius: 0.5rem;
}

@mixin shadow {
    box-shadow: -1px 2px 10px 5px rgba(133, 133, 133, 0.71);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: $primary-color;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-family: sans-serif;
    font-size: 10px;
}

header {
    flex: 0 0 auto;
    @include flex;
    @include border;
    @include shadow;
    column-gap: 3rem;
    padding: 1.5rem;
    img {
        width: 5rem;
    }
}
main {
    width: 100%;
    @include flex(row, center, flex-start);
    flex: 1 0 auto;
    column-gap: 0.5rem;
}
a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: $primary-color;
}
::-webkit-scrollbar-thumb {
    background-color: $second-color;
}

.left-col {
    height: 100%;
    flex-shrink: 0;
    flex-basis: 40%;
}
.right-col {
    height: 100%;
    flex-grow: 1;
}
aside {
    @include flex(column, space-between, stretch);
}

footer {
    flex: 0 0 auto;
    padding: 1.5rem;
    @include border;
    @include shadow;
    @include flex(row, space-between);
    column-gap: 5rem;

    a {
        color: $second-color;
        font-weight: bold;
    }

    .developers {
    }

    span {
        font-weight: bold;
    }

    img {
        width: 7rem;
    }

    .school {
        @include flex();
        column-gap: 2rem;
    }
}



@media screen and (max-width: 768px) {
    main {
        flex-wrap: wrap;
    }
    .right-col {
        height: auto;
        flex-basis: 100%;
        flex-direction: column;
    }
    .left-col {
        height: auto;
        flex-basis: 100%;
        flex-direction: column;
    }
    #map {
        height: 300px;
    }
}

@import 'chart';
@import 'map';
@import 'table';
@import 'list';
@import 'filter';
@import "fullscreen";
.fullscreen{
    position: absolute;
    left: 3px;
    top: 5px;
    width: 99%;
    height: 99%;
    z-index: 2000;
    margin: 0;

}
@import 'virtualKeyboard';
