@import './colors.scss';

@mixin clearfix() {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin border {
    border: 0.2rem solid #09294e;
    border-radius: 0.5rem;
}

@mixin shadow {
    box-shadow: -1px 2px 10px 5px rgba(133, 133, 133, 0.71);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #a9c7ea;
    font-size: 1.4rem;
    @include flex(column);
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
    font-size: 10px;
}

header {
    flex: 0 0 auto;
    @include flex;
    @include border;
    @include shadow;
    column-gap: 3rem;
    padding: 1.5rem;
    img {
        width: 5rem;
    }
}
main {
    width: 100%;
    @include flex(row, center, flex-start);
    flex: 1 0 auto;
    column-gap: 0.5rem;
}

.left-col {
    min-height: 100%;
    width: 40%;
}
.right-col {
    min-height: 100%;
    width: 60%;
}
aside {
    @include flex(column, space-between, stretch);
}

footer {
    flex: 0 0 auto;
    padding: 1.5rem;
    @include border;
    @include shadow;
    @include flex(row, space-between);

    column-gap: 5rem;
    a {
        color: #000;
        font-weight: bold;
    }
    .developers {
    }
    span {
        font-weight: bold;
    }
    img {
        width: 7rem;
    }
    .school {
        @include flex();
        column-gap: 2rem;
    }
}

@media (max-width: 769px) {
    main {
        flex-wrap: wrap;
        aside {
            width: 40%;
        }
    }
    aside:nth-child(1) {
        order: 2;
    }
}

@import 'chart';
@import './map.scss';
@import 'table';
@import 'list';
